/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Lato-Bold';
    src: url('../assets/font/Lato-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../assets/font/Lato-BoldItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../assets/font/Lato-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../assets/font/Lato-Regular.ttf') format('ttf');
}
